extends layout
block content
  h1= title
  form(id='educationForm', action="/resource/education", method="POST")
    div.form-group
      label.educationAttr(for='subject') Education Subject
      input#subject(type='text', name='subject')
    div.form-group
      label.educationAttr(for='grade') Education Grade
      input#grade(type='text', name='grade')
    div.form-group
      label.educationAttr(for='marks') Education Marks
      input#marks(type='text', name='marks')
    input(type="submit")
  script.
    document.forms['educationForm'].addEventListener('submit', (event) => {
      event.preventDefault();
        // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });